<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <h3><a href="{{ url_for('index') }}">FyF! Find your Figure</a></h3>

        <div class="filter-buttons">
            <a href="{{ url_for('fyfpage') }}" class="filter-btn">Find your Figure</a>
            <a href=" {{ url_for('create') }}" class="filter-btn">Nur Text eingeben</a>
            <a href="{{ url_for('function') }}" class="filter-btn">Funktion finden</a>
            <a href="{{ url_for('figure_information') }}" class="filter-btn">Figur Infos</a>
            <a href="{{ url_for('about') }}" class="filter-btn">Über uns</a>
        </div>
    </header>
    <div class="base_container">
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

    <!-- Back-to-Top Button -->
    <button id="backToTop"></button>

    <script src="/static/script.js"></script>
</body>

</html>