{% extends 'base.html' %}

{% block content %}
    <h1>Finde deine Figur (FyF)!</h1>
    <p>Du vermutest eine rhetorische Figur in deinem Text, aber du weißt nicht, wie sie heißt oder wie sie auf die Leser
        wirkt?
        Finde es hier heraus! Gib dazu einfach folgende Informationen an.

    <form method="post">
        <div class="form-group">
            <label for="text" style="display: block">Text*
                <textarea name="text" placeholder="Gib einen Text mit einer rhetorischen Figur ein!"
                          class="form-control">{{text}}</textarea>
                <button type="submit" class="btn btn-success float-right" id="get_example_button"
                        name="get_example_button">
                    Oder Beispiel aus Datenbank
                </button>
            </label>
        </div>

        <div class="form-group">
            <label for="context" style="display: block">Kontext
                <textarea name="context"
                          class="form-control">{{ context }}</textarea>
                          placeholder="Der Kontext, in dem der 'Text' steht, also z.B. Sätze die vor oder nach der rhetorischen Figur stehen."
            </label>
        </div>

        <div class="form-group">
            <label for="author" style="display: block">Autor
                <input type="text" name="author"
                       placeholder="Vorname Nachname" class="form-control"
                       value="{{ author }}"
            </label>
        </div>
        <div class="form-group">
            <label for="source" style="display: block">Quelle
                <input type="text" name="source"
                       placeholder="Name des Buchs/Titel des Artikels/etc." class="form-control"
                       {% if source %} value="{{ source }}" {% endif %}value="{{ request.form['source']  }}" ></label>
                       value="{{ source }}"
            </label>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Bitte wähle, welche Operation stattfindet: </span>
            <label for="operation"></label><select name="operation" class="selectpicker form-control" id="operation">
            {% for data in operation_data %}
                <option value="{{ data.lingOp }}" {% if data.lingOp == request.form['operation'] %}
                        selected {% endif %}>{{ data.lingOp }}</option>
            {% endfor %}
        </select>
        </div>


        <div class="input-group">
            <span class="input-group-addon">Bitte wähle eine Position, an der die Operation ist: </span>
            <label for="operation_position"></label><select name="operation_position" class="selectpicker form-control"
                                                            id="operation_position">
            {% for data in position_data %}
                <option value="{{ data.lingPos }}" {% if data.lingPos == request.form['operation_position'] %}
                        selected {% endif %}>{{ data.lingPos }}</option>
            {% endfor %}
        </select>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Welches Element ist davon betroffen: </span>
            <label for="ling_element"></label><select name="ling_element" class="selectpicker form-control"
                                                      id="ling_element">
            {% for data in ling_element_data %}
                <option value="{{ data.lingElem }}" {% if data.lingElem == request.form['ling_element'] %}
                        selected {% endif %}>{{ data.lingElem }}</option>
            {% endfor %}
        </select>
        </div>

        <div class="input-group">
            <span class="input-group-addon">In welcher Form findet die Operation statt: </span>
            <label for="ling_form"></label><select name="ling_form" class="selectpicker form-control" id="ling_form">
            {% for data in ling_form_data %}
                <option value="{{ data.lingForm }}" {% if data.lingForm == request.form['ling_form'] %}
                        selected {% endif %}>{{ data.lingForm }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">In welchem Bereich kommt die Figur vor? </span>
            <label for="ling_area"></label><select name="ling_area" class="selectpicker form-control" id="ling_area">
            {% for data in ling_area_data %}
                <option value="{{ data.lingArea }}" {% if data.lingArea == request.form['ling_area'] %}
                        selected {% endif %}>{{ data.lingArea }}</option>
            {% endfor %}
        </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="send" name="send">Absenden</button>
        </div>
    </form>

    <div class="container">
        {% if result %}
            Folgende Figuren wurden gefunden:
            {% for row in result %}
                <div class="form-check">
                    <div class="alert alert-primary">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            <b>{{ row["figure_name"] }}</b>
                        </label>
                        <br>
                        Definition: <br>
                        {% for ro in row["definitions"] %}
                            {{ ro["text"] }} - {{ ro["author"] }}
                        {% endfor %}

                        <br><br>
                        Beispiele: <br>
                        {% for ex in row["examples"] %}
                            {{ ex["example_text"] }} - {% if ex["example_source"] %}<em>
                            {{ ex["example_source"] }} {% endif %} {% if ex["author"] %}:
                            {{ ex["example_author"] }} {% endif %}</em><br/>
                        {% endfor %}
                        {#                {{ row["examples"] }}#}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Figur(en) zuordnen und speichern</button>
            </div>
        {% endif %}
    </div>

    <form method="post">
        <div class="form-group">
            <p>Alternativ kannst du auch unser Sprachmodell nutzen! Beschreibe die Charakteristiken der Figur hier
                in
                natürlicher Sprache.</p>
            <label for="text" style="display: block">Frag das Sprachmodell
                <textarea name="text" placeholder="z.B. 'In dem Satz wiederholen sich die Anfangsbuchstaben jedes Wortes.
                Wie heißt diese rhetorische Figur?'"
                          class="form-control">{{ request.form['llmtext'] }}</textarea>
            </label>
        </div>
    </form>

{% endblock %}